@model MvcStripeExample.Areas.Admin.Models.EventDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingWebhooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingWebhooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
