@model System.Collections.Generic.IEnumerable<MvcStripeExample.Models.CouponListViewModel>

@{
    ViewBag.Title = "Coupons";
}

<h2>Coupons</h2>

<p>
    @Html.ActionLink("Create New Coupon", "CreateCoupon")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PercentOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRedemptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedeemBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesRedeemed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PercentOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxRedemptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedeemBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationInMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesRedeemed)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteCoupon", new { id=item.Id })
        </td>
    </tr>
}

</table>
