@model System.Collections.Generic.IEnumerable<MvcStripeExample.Models.EventListViewModel>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiveMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PendingWebhooks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiveMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PendingWebhooks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request)
        </td>
    </tr>
}

</table>
